[submodule "buildroot"]
    path = buildroot
    url = https://github.com/buildroot/buildroot.git

[submodule "base_external"]
    path = base_external
    url = https://github.com/cu-ecen-aeld/base_external.git

